
###> symfony/framework-bundle ###
/.server/env.local
/.server/env.local.php
/.server/env.*.local
/server/config/secrets/prod/prod.decrypt.private.php
/server/public/bundles/
/server/var/
/server/vendor/
###< symfony/framework-bundle ###

/client/node_modules
/.client/pnp
.client/pnp.js

# testing
/coverage

# production
/client/build

# misc
.client/DS_Store
.client/env.local
.client/env.development.local
.client/env.test.local
.client/env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
